################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BilgeAdam.HelloWeb/.vs/BilgeAdam.HelloWeb/v15/Server/sqlite3
