@model IEnumerable<BilgeAdam.HelloWeb.Models.Person>
@{
    ViewData["Title"] = "Kişi Listesi";
}

<h2>Kişi Listesi</h2>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>
                    <a href="/Home/Person/@person.Id" class="btn btn-primary">Gönder</a>
                </td>
            </tr>
        }
    </tbody>

</table>
